name: pages
on:
  push:
    branches:
    - main 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Setup locale
      run: |
        sudo locale-gen en_GB.UTF-8
        sudo update-locale
    - name: Checkout
      uses: actions/checkout@master
      with:
        fetch-depth: 0
        submodules: true
    - name: Checkout licsar_proc
      uses: actions/checkout@master
      with:
        repository: comet-licsar/licsar_proc
        path: licsar_proc
        fetch-depth: 0
        submodules: true
    - name: Checkout licsar_framebatch
      uses: actions/checkout@master
      with:
        repository: comet-licsar/licsar_framebatch
        path: licsar_framebatch
        fetch-depth: 0
        submodules: true
    - name: Checkout daz
      uses: actions/checkout@master
      with:
        repository: comet-licsar/daz
        path: daz
        fetch-depth: 0
        submodules: true
    - name: Checkout licsbas
      uses: actions/checkout@master
      with:
        repository: comet-licsar/licsbas
        path: licsbas
        fetch-depth: 0
        submodules: true
    - name: Build and Commit
      uses: sphinx-notes/pages@v2
      with:
        documentation_path: source
        requirements_path: .github/workflows/pages-requirements.txt
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages
